<div class="container col-md-4">
    <div class="card">
      <div class="card-header">
        <h3>Modificar Datos</h3>
      </div>

      <div class="card-body">
        <form action="">

          <div class="form-floating mb-2">            
            <input [(ngModel)]="persona.nombre" name="nombre" type="text" id="floatingInput" class="form-control" placeholder="nombres">
            <label for="floatingInput">Nombres</label>
          </div>

          <div class="form-floating mb-2">            
            <input [(ngModel)]="persona.apellido" name="apellido" type="text" id="floatingInput" class="form-control" placeholder="apellidos">
            <label for="floatingInput">Apellidos</label>
          </div>

          <div class="form-floating mb-2">
            <input [(ngModel)]="persona.email" name="email" type="text" id="floatingInput" class="form-control" placeholder="email">
            <label for="floatingInput">Email</label>
          </div>

          <div class="form-floating mb-2">
            <input
              [(ngModel)]="persona.edad"
              name="edad"
              type="number"
              class="form-control"
              id="floatingInput"
              placeholder="Edad"
            />
            <label for="floatingPassword">Edad</label>
          </div>

          <button (click)="Editar()" class="btn btn-outline-success">Actualizar</button>
          <button (click)="Cancelar()" class="btn btn-outline-warning" style="margin-left: 10px;">Cancelar</button>
        </form>
      </div>
      
    </div>
  </div>