body {
    background: url(assets/background.jpg);
    height: 100vh;
    display: grid;
    background-size: cover;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
    text-align: center;
    margin-bottom: 30px;
}