<div class="container col-md-6">
    <div class="card">

      <div class="card-header">
        <h3>Modificar Datos</h3>
      </div>

      <div class="card-body">
        <form action="">

          <div class="form-group col-md-4">
            <label for="">Nombres:</label>
            <input [(ngModel)]="persona.nombre" name="name" type="text" class="form-control">
          </div>

          <div class="form-group col-md-4">
            <label for="">Apellidos:</label>
            <input [(ngModel)]="persona.apellido" name="apellidos" type="text" class="form-control">
          </div>

          <div class="form-group col-md-4">
            <label for="">Email:</label>
            <input [(ngModel)]="persona.email" name="email" type="text" class="form-control">
          </div>

          <div class="form-group col-md-2">
            <label for="">Edad:</label>
            <input [(ngModel)]="persona.edad" name="edad" type="number" class="form-control">
          </div>

          <button (click)="Editar()" class="btn btn-danger">Actualizar</button>
        </form>
      </div>
      
    </div>
  </div>